body {

}

html
{
	background-color: #eee5e5;
}

img {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

img2 {
  border-radius: 200%;
  margin-left: auto;
  margin-right: auto;
}

.imagebody {
  display: block;
  margin-left: auto;
  margin-right:auto;
  text-align:center;
  width: 15%;
}
.center {
  margin:auto;
  margin-left: auto;
  margin-right:auto;
  text-align:center;
  width: 15%;
}



.flip-box {
  display: block;
  margin-left: auto;
  margin-right:auto;
  background-color: transparent;
  width: 400px;
  height: 400px;
  border: 1px solid #19647e;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #eee5e5;
  color: black;
}

.flip-box-back {
  background-color: #19647e;
  color: white;
  transform: rotateY(180deg);
}


.main-header
{
background-image: url("images/headerbackground.png");
background-size: cover;
display: block;
 margin-top: -25px;
    padding: 00 0 0 0;
color: #eee5e5;
text-align:center;
}

h2
{
	text-align: center;
	
}

h3
{
	text-align: center;
}
P.blocktext 
{
    margin-left: auto;
    margin-right: auto;
    width: 50em
}

.footer
{

   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #19647e;
   color: white;
   text-align: center;
}

.collapsible {
  background-color: #19647e;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  Text-align: center;
}

.active, .collapsible:hover 
{
  background-color: #000000;
}


.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #eee5e5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 7.5%;
  background-color: #008080;
  position: fixed;
  display: inline-block;
  height: 100%;
  overflow: auto;

}

li a {
  display: inline-block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li {
  text-align: center;
  border-bottom: 1px solid #555;
}

li a:hover {
  background-color: #008080;
  color: white;
}


.container {
    margin:auto;
  margin-left: auto;
  margin-right:auto;
  text-align:center;	
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}



*gallery*

div.gallery {
  border: 1px solid #ccc;
  
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
  text-align:center;
   border-radius: 10%;
  margin-left: auto;
  margin-right: auto;
  
}

div.desc {
  padding: 15px;
  text-align: center;
}


.responsive {
  padding: 0 6px;
   display: block;
  margin-left: auto;
  margin-right:auto;
  width: 25%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


*grid*

.box {
  float: right;
  width: 75%;
  padding: 5px;
}

.clearfix2::after 
{
  content: "";
  clear: both;
  display: table;
}
aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: #19647e;
}


#divdrop {
  width: 150px;
  height: 150px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}